---
layout: default
title: Ian Kynnersley
---

<section id="home">
  <h1 class="title">Hello, I'm Ian</h1>
  <p>I'm a freelance CTO and product strategist.</p>
  <p>In other words I love helping people use technology to make great things.</p>
  <p><a href="/about">You can read more about me here</a>.</p>
</section>

<section id="work">
  <h2>Projects</h2>
  <p>My experience encompasses technical, product and business which means I often do different bits of the puzzle for different people. Some recent projects I've worked on are:</p>
  <ul class="projects">
    <li>&raquo; <a href="/case_studies/provenance">Technical strategy for Provenance</a></li>
    <li>&raquo; <a href="/case_studies/doing_something">Temporary CTO at Doing Something</a></li>
    <li>&raquo; <a href="/case_studies/barclaycard">Product Owner for Adaptive Lab and Barclaycard</a></li>
  </ul>
</section>

<section id="blog">
  <h2>Writing, thoughts, etc</h2>
  <p>I've started writing up a few of my thoughts and findings about startups and technology:</p>
  {% if site.posts.size > 0 %}
    <ul class="posts">
    {% for post in site.posts %}
      <li>&raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
</section>
