---
layout: default
title: Ian Kynnersley
---

<section id="home">
  <h1 class="title">Hello, I'm Ian</h1>
  <p>I'm a freelance CTO and product strategist.</p>
  <p>In other words I love helping people use technology to make great things.</p>
  <p>I work with startups and founders to help them build amazing product businesses one step at a time.</p>
  <p><a href="/about">You can read more about me here</a></p>
</section>

<section id="work">
  <h2 class="subtitle">Work</h2>
  <p>I specialise in turning business ideas into beautiful products and my experience encompasses technical, product and business. This means I often play a different role on each project. It usually involves some combination of product management, technical leadership, team management and product strategy.</p>
  <p>Some recent projects I've worked on:</p>
  <ul class="projects">
    <li>&raquo; <a href="/case_studies/provenance">Technical strategy for Provenance</a></li>
    <li>&raquo; <a href="/case_studies/barclaycard">Product Owner for Adaptive Lab and Barclaycard</a></li>
    <li>&raquo; <a href="/case_studies/doing_something">Temporary CTO at Doing Something</a></li>
  </ul>
</section>

<section id="blog">
  <h2>Writing</h2>
  <p>Occasional thoughts about startups and technology, usually intended for small tech business owners:</p>
  {% if site.posts.size > 0 %}
    <ul class="posts">
    {% for post in site.posts %}
      <li>&raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <p>...and some music ramblings that don't really fit here:</p>
  <ul class="music posts">
    <li>&raquo; <a href="/music/albums-of-2014">My favourite releases from 2014</a></li>
    <li>&raquo; <a href="/music/10-most-influential-albums">My 10 most influential albums</a></li>
  </ul>
</section>
