@import "neat/neat-helpers";

$visual-grid: false;

// $column: 90px;
// $gutter: 30px;
$grid-columns: 8;
$max-width: em(768);

// breakpoints
$tablet: new-breakpoint(min-width 480px 8);
$full: new-breakpoint(min-width 600px 12);
