/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
//@import "bitters/bitters";
@import "grid-settings";
@import "neat/neat";

/*@import "compass/reset";*/
@import "variables";
@import "fonts";

body {
	background: white;
	font-family: 'sinanova-regularregular', Times, "Times New Roman", serif;
}

h1 {
	@include media($tablet) {
		font-size: 4rem;
	}
	font-size: 2.3rem;
}

article {
	header {
		h1 {
			margin: 1rem 0;
		}
	}
	ul {
		li {
			font-style: italic;
			list-style-position: outside;
			list-style-type: disc;
			margin-left: 1em;
		}
	}
}

h2 {
	@include media($tablet) {
		font-size: 3rem;
	}
	font-size: 2rem;
}

h3 {
	@include media($tablet) {
		font-size: 2rem;
	}

	font-size: 1.5rem;
	margin-top: 4rem;
}

p {
	@include media($tablet) {
		font-size: 1.5rem;
	}

	&.meta {
		font-size: 1rem;
	}
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 135%;
}

a {
	color: $link-color;

	&:hover {
		text-decoration: none;
	}
}

ul {
	li {
		@include media($tablet) {
			font-size: 1.5rem;
		}
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 135%;
		margin: 0;
		padding: 0;
	}

	list-style-type: none;
	margin: 0;
	padding: 0;
}

.block {
	@include row();
}

.container {
	@include outer-container();
	@include media($tablet) {
		max-width: em(600);
	}
	@include media($full) {
		max-width: em(768);
	}
	max-width: em(480);

}

.contents {
	@include span-columns(6);
	@include shift(1);
	@include media($tablet){
		@include span-columns(6);
		@include shift(1);
	}
	@include media($full){
		@include span-columns(10);
		@include shift(1);
	}
}

.footer {
	background: $alt-background-color;
	margin-top: 5rem;
	padding: 0 0 2rem;

	a {
		@include media($tablet) {
			font-size: 1.2rem;
		}
		font-size: 1rem;
		font-weight: bold;
		text-decoration: none;
	}

	p {
		font-size: 1.2rem;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			font-size: 1.2rem;
			line-height: 165%;
		}

		.fa {
			width: em(30);
		}
	}

	.contact {
		@include outer-container();
	}
}