{% assign title = site.title %}
{% if page.title != null and page.title != "" %}
{%   assign title = page.title %}
{% endif %}
{% capture page_title %}{{title}} | {{site.name}}{% endcapture %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page_title }}</title>
        <meta name="viewport" content="width=device-width">
        {% include open-graph.html %}

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/screen.css">

        <!-- digital climate strike -->
        <script src="https://assets.digitalclimatestrike.net/widget.js" async></script>
    </head>
    <body>

      <div id='site' role='document'>
        <main class="l-main block" role='main'>
          <div class="container">
            <div class="contents">
              {{ content }}
            </div>
          </div>
        </main>
        <div class="footer block">
          <div class="contact">
            <div class="contents">
              <p>Get in touch:</p>
              <ul>
              <li><i class="fa fa-twitter"></i><a href="https://twitter.com/kpopper" onclick="trackOutboundLink('https://twitter.com/kpopper'); return false;">@kpopper</a></li>
              <li><i class="fa fa-linkedin"></i><a href="http://uk.linkedin.com/in/iankynnersley/" onclick="trackOutboundLink('http://uk.linkedin.com/in/iankynnersley/'); return false;">LinkedIn</a></li>
              <li><i class="fa fa-envelope"></i><script type="text/javascript">
              //<![CDATA[
              <!--
              var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
              "ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"l~bnzf\\177\\1772u<" +
              "m?lnxh;u1q\\\"\\002\\003\\016LH\\030^\\tDLDLXE\\002C\\r^^\\010C]_[]\\021B\\" +
              "025_U_M\\003.&&\\0051n+gxybmp{~y*&!-..|e!a7w`2d\\035\\002\\003\\027\\007\\r" +
              "N\\002A\\022\\027\\026\\n\\002\\034G\\031L\\036^EN\\037IEIA\\022QPW{n)>|+eo" +
              "i{K\\177$d'4mcwgagx7w7in~njm\\010\\021\\016LH\\014\\035ZN\\001\\010\\002\\0" +
              "36\\001r\\r\\r\\004\\r\\031\\024\\nWfy\\016\\010\\013`a\\010\\016p\\035\\03" +
              "6\\027rwv\\033\\024zy{\\020\\021\\027xaa\\016\\017dgf\\013\\004iik\\000\\00" +
              "1noP=>STU:;\\\\[Z70[]_,-CCD)*@JI&'JMN\\\\]034YZiTU9;<QR&'!\\\"OH&''DEtG@-./" +
              "|}\\026\\022\\024yzzh\\024\\037\\033\\034qr\\035N\\030\\r\\t\\032\\002\\001" +
              "\\003N\\003\\032H\\013\\036\\013\\030.gm\\037f\\031\\032a&\\025\\026!\\177~" +
              "~\\023\\014*r{c~c7mjj\\007\\000?\\010\\026USR?80<QZY67\\\">7(1&--\\\"05::\\" +
              "023<?7>3622_XIPJAwy4L+rsz&%\\\"HI c0( ,+,BC\\\\KXGZY\\002ZNKA[KAHs\\022\\03" +
              "1TN\\017Z\\026YJLN^N@\\005\\026iji:l\\033o.`=\\013.(\\\"\\r=191},}337\\032(" +
              ":4\\03630\\022\\007L\\004\\n\\014\\024\\023;TA\\004WZ\\\\^MT\\013\\010]^]\\" +
              "036C\\025F\\022GMCi)plb>nsogog\\\"u3c<M0O6(y;q9hzjf7f\\014Y\\nE\\004KIN\\\\" +
              "JD^J\\017\\007\",10)"                                                        ;
              while(x=eval(x));
              //-->
              //]]></script></li>
              <li><i class="fa fa-github"></i><a href="https://github.com/kpopper" onclick="trackOutboundLink('https://github.com/kpopper'); return false;">Github</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12730811-1', 'iankynnersley.co.uk');
        ga('send', 'pageview');

        var trackOutboundLink = function(url) {
           ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
             function () {
             document.location = url;
             }
           });
        }
      </script>
    </body>
</html>
